<h1> HURRICANE                 HURRICANE                                  HURRICANE                            HURRICANE</h1>
<h2>This site will be down until after the HURRICANE</h2>

<marquee behavior="scroll" bgcolor="#23FF00" loop="-1" width="100%">RUNNNNNNNNN its basically a tornado </marquee>

<marquee behavior="scroll" bgcolor="#0C00FF" loop="-1" width="100%">RUNNNNNNNNN its basically a tornado </marquee>

<marquee behavior="scroll" bgcolor="#F3FF00" loop="-1" width="100%">RUNNNNNNNNN its basically a tornado </marquee>

<marquee behavior="scroll" bgcolor="#FF00F0" loop="-1" width="100%">RUNNNNNNNNN  its basically a tornado</marquee>

<marquee behavior="scroll" bgcolor="#00FFE8" loop="-1" width="100%">RUNNNNNNNNN its basically a tornado </marquee>

<marquee behavior="scroll" bgcolor="#00FF00" loop="-1" width="100%">RUNNNNNNNNN its basically a tornado </marquee>

<marquee behavior="scroll" bgcolor="#FF00F7" loop="-1" width="100%">RUNNNNNNNNN  its basically a tornado</marquee>

<marquee behavior="scroll" bgcolor="#00CCCC" loop="-1" width="100%">RUNNNNNNNNN  its basically a tornado</marquee>

<!DOCTYPE html>
<html>
<head> its bacicaly a tornado
<style>
body {
    background-color: #FF0000;
}
</style>
</head>
</html>
