<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

  body {
    background-color: #091825;
    background-image: url(/static/images/btc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
  }

  span {
    font-size: 2vw;
    color: #fff;
  }
</style>
</head>

<body>
  <center>
    <span>Date: {{date}}</span>

      <p style="font-size:5vw"><font color="white">Here is the price of Bitcoin in Dollars: {{ btc }}</font></p>

    <form method="GET">
    <input type="date" name="search">
    <input type="submit">
    </form>
  </center>
</body>
</html>
