<!DOCTYPE html>
<html>
<head>

<style>

html, body, #wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}
</style>
</head>
<body>
<img src="395434.jpg" alt="BTC" />
{% if user == None %}
<ul>
  <p>Here is the price of Bitcoin in Dollars for current date: {{ btc }}</p>

{% else %}

  <p>Here is the price of Bitcoin in Dollars for {{ user }}: {{ btc }}</p>

{% endif %}
</body>
</html>
##  background: #D0E4F5 url("https://wallpaperaccess.com/full/395434.jpg") no-repeat scroll 50% 50%;
