<!DOCTYPE html>
<html>
<head>

<style>
html {
    position: relative;
    min-width: 1920px;
    min-height: 1080px;
    height: 100%;
}
body {
  background: #000000 url(https://wallpaperaccess.com/full/395434.jpg) no-repeat center center;
  background-size: cover;
  border: 2px solid #000000;
}
</style>
</head>
<body>
{% if user == None %}
<ul>
  <p>Here is the price of Bitcoin in Dollars for current date: {{ btc }}</p>

{% else %}

  <p>Here is the price of Bitcoin in Dollars for {{ user }}: {{ btc }}</p>

{% endif %}

</body>
</html>
